# Creating DataFrames from Scratch
_This section covers how to create DataFrames from different data sources, including lists, dictionaries, and external sources._

---

## Contents
1. **Introduction**  
   - Overview of DataFrame creation
   - Importance of structured data

2. **Key Concepts**  
   - Creating DataFrames from dictionaries
   - Creating DataFrames from lists and tuples
   - Using external sources to create DataFrames  

3. **Practical Exercises**  
   Explanation of what the user will learn in this section.

---

## Author
**Author Name:** Juan Alejandro Carrillo Jaimes  

**Contact:** [jalejandrocjaimes@gmail.com](mailto:jalejandrocjaimes@gmail.com) - [Linkedin-AlejoCJaimes31](https://www.linkedin.com/in/alejocjaimes31/)  

**Purpose:** This content was created as an educational resource for university students.

# 1. Introduction
Usually, we create a DataFrame from an existing file or a database, but we can also create one from scratch. We can create a DataFrame from parallel list of data.

## Overview of DataFrame creation
![DataFrame-Python](https://pynative.com/wp-content/uploads/2021/02/pandas-dataframe-from-dictionary.png)

Creating a DataFrame is a fundamental step in data analysis using Pandas. A DataFrame is a two-dimensional labeled data structure, similar to a table in a database or an Excel spreadsheet. It allows data to be manipulated, analyzed, and visualized efficiently.

## Importance of structured data
![str-unstr-data](https://i.ytimg.com/vi/sf2S6ZI9BD0/maxresdefault.jpg)

Structured data is essential for effective data analysis, enabling easy querying, transformation, and visualization. Properly structured DataFrames improve data integrity, reduce errors, and enhance the efficiency of operations such as filtering, aggregation, and merging.

In [1]:
import pandas as pd # type: ignore
import numpy as np # type: ignore

1. Create parallel lists wit your data in them. Each of these lists will be a column in the DataFrame, so they should have the same type

In [6]:
import random as rand

first_name = ["Sallee","Joseph","Harmonia","Tracie","Liana","Elias","Allsun","Megen","Gaven","Mic"]
last_name  = ["Shovelbottom","Cottem","Scotts","MattiCCI","Reason","Erlam","Fenby","Peirpoint","Lackinton","Aldersea"]
email      = ["sshovelbottom0@china.com.cn","jcottem1@creativecommons.org","hscotts2@comcast.net","tmatticci3@domainmarket.com","lreason4@php.net","eerlam5@cbsnews.com","afenby6@stumbleupon.com","mpeirpoint7@shinystat.com","glackinton8@theglobeandmail.com","maldersea9@un.org"]
gender = [rand.choice(['Male','Female']) for _ in range(10)]
ip_address = ["222.134.225.141","185.200.169.205","163.216.177.34","237.176.132.172","123.184.153.13","78.225.107.21","94.23.76.234","7.42.125.107","236.70.201.94","163.81.57.207"]

# create dictionary
people = {"FirstName": first_name, "LastName" : last_name, "Email": email, "Gender": gender, "IpAddress": ip_address}

# create DataFrame
df = pd.DataFrame(people)
df

,FirstName,LastName,Email,Gender,IpAddress
0,Sallee,Shovelbottom,sshovelbottom0@china.com.cn,Female,222.134.225.141
1,Joseph,Cottem,jcottem1@creativecommons.org,Female,185.200.169.205
2,Harmonia,Scotts,hscotts2@comcast.net,Male,163.216.177.34
3,Tracie,MattiCCI,tmatticci3@domainmarket.com,Female,237.176.132.172
4,Liana,Reason,lreason4@php.net,Female,123.184.153.13
5,Elias,Erlam,eerlam5@cbsnews.com,Male,78.225.107.21
6,Allsun,Fenby,afenby6@stumbleupon.com,Male,94.23.76.234
7,Megen,Peirpoint,mpeirpoint7@shinystat.com,Male,7.42.125.107
8,Gaven,Lackinton,glackinton8@theglobeandmail.com,Male,236.70.201.94
9,Mic,Aldersea,maldersea9@un.org,Female,163.81.57.207